body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #5f9341;
    padding: 10px;
    box-sizing: border-box;
}

button{
    color: whitesmoke;
    border: 1px solid #5f9341;
    margin-top: 6px;
    padding: 10px 15px;
    background: #5f9341;
    font-weight: bold;
}

#delete-btn{
    background: white;
    color: #5f9341;

}

#box{
    cursor: pointer;
    background: lightseagreen;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
}

ul{
    color: #5f9341;
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
}

li{
    margin-top: 5px;
}
li a{
    color: #5f9341;
}